<%- include('header'); -%>
 <div class="content">
  <p> Name: Florence </p>
  <p> Address: 123 fake street </p>
  <p> Phone: 8650 4000 </p>
  <p> Email: FlorenceFake@hotmail.com </p>
 </div>
<%- include('footer'); -%>